WebServiceSession1/TemperatureServer/WebContent/wsdl/TemperatureConverter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://temerature.metacube.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://temerature.metacube.com" xmlns:intf="http://temerature.metacube.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://temerature.metacube.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="changeFahrenheitToCelsius">
    <complexType>
     <sequence>
      <element name="fahrenhiet" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeFahrenheitToCelsiusResponse">
    <complexType>
     <sequence>
      <element name="changeFahrenheitToCelsiusReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="changeFahrenheitToCelsiusResponse">

      <wsdl:part element="impl:changeFahrenheitToCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeFahrenheitToCelsiusRequest">

      <wsdl:part element="impl:changeFahrenheitToCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TemperatureConverter">

      <wsdl:operation name="changeFahrenheitToCelsius">

         <wsdl:input message="impl:changeFahrenheitToCelsiusRequest" name="changeFahrenheitToCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:changeFahrenheitToCelsiusResponse" name="changeFahrenheitToCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TemperatureConverterSoapBinding" type="impl:TemperatureConverter">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="changeFahrenheitToCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeFahrenheitToCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changeFahrenheitToCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TemperatureConverterService">

      <wsdl:port binding="impl:TemperatureConverterSoapBinding" name="TemperatureConverter">

         <wsdlsoap:address location="http://localhost:8080/TemperatureServer/services/TemperatureConverter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
